<div>
  <div class="control-group" ng-show="clinicalWarningsGridOptions.enableExpandable">
      <input type="button" class="btn btn-small" ng-click="expandClinicalWarningsRows()" value="Expand All" />
      <input type="button" class="btn btn-small" ng-click="collapseClinicalWarningsRows()" value="Collapse All" />
  </div>
  <div ui-grid="clinicalWarningsGridOptions" class="grid">
      <div class="grid-msg-overlay" ng-hide="!clinicalWarningsLoading">
          <div class="msg">
              <span>
                  Loading Data...
                  <i class="fa fa-spinner fa-spin"></i>
              </span>
          </div>
      </div>
      <div class="grid-msg-overlay" ng-hide="clinicalWarningsLoading || clinicalWarningsGridOptions.data.length">
          <div class="msg">
              <span>No Data</span>
          </div>
      </div>
  </div>
</div>
