<div class="container report_row">
  <div class="row" ng-if="!allergiesError && allergies && !allergiesMessage">
    <div class="col-xs-6 grid_header">Name</div>
    <div class="col-xs-6 grid_header">Reaction</div>
  </div>
  <div class="row" ng-repeat="allergy in allergies" ng-if="!allergiesError && allergies && !allergiesMessage">
    <div class="col-xs-6">{{allergy.allergenName}}</div>
    <div class="col-xs-6">{{allergy.reaction}}</div>
  </div>
  <div class="row" ng-if="allergiesError">
    <span class="message">Internal error loading allergies.</span>
  </div>
  <div class="row" ng-if="!allergiesError && allergiesMessage">
    <span class="message">{{allergiesMessage}}</span>
  </div>
</div>
