<div>
    <form name="_form" class="form-horizontal" ng-submit="submit(_form)">
        <div class="modal-header">
            <button type="button" class="close" ng-click="dismiss()" aria-hidden="true">&times;</button>
            <h3>Panel Details - {{panel.title}}</h3>
        </div>

        <div class="modal-body">
            <div ng-if="loadMessage">
                <h4><strong>{{loadMessage}}</strong></h4>
            </div>
            <div class="form-group" ng-class="{error: _form.title.$error && _form.submitted}">
                <div ng-repeat="setting in settings">
                    <div class="form-group row" ng-if="setting.settingType === 2">
                        <label for="numberinput" class="col-sm-4 control-label">{{setting.settingName + ' (0-120)  Note: 0 will show only today'}}</label>
                        <div class="col-sm-7">
                            <input ng-model="setting.numberValue" type="number" min="0" max="120" class="form-control" id="numberinput" ng-disabled="displayOnly">
                        </div>
                    </div>
                    <div class="form-group row" ng-if="setting.settingType === 3">
                        <label for="textinput" class="col-sm-4 control-label">{{setting.settingName}}</label>
                        <div class="col-sm-7">
                            <input ng-model="setting.textValue" type="text" class="form-control" id="textinput" ng-disabled="displayOnly">
                        </div>
                    </div>
                    <div class="form-group row" ng-if="setting.settingType === 4">
                        <label for="textareainput" class="col-sm-4 control-label">{{setting.settingName}}</label>
                        <div class="col-sm-7">
                            <textarea ng-model="setting.textValue" rows="4" class="form-control" id="textareainput" ng-disabled="displayOnly"></textarea>
                        </div>
                    </div>
                    <div class="form-group row" ng-if="setting.settingType === 5">
                        <label for="listareainput" class="col-sm-4 control-label">{{setting.settingName}}</label>
                        <div class="col-sm-7">
                            <textarea ng-model="setting.listValues" ng-list="&#10;" ng-trim="false" rows="4" class="form-control" id="listareainput" ng-disabled="displayOnly"></textarea>
                            <div style="padding-top:5px;" ng-if="panel.title === 'Labs'">
                                <label class="col-sm-12 bg-danger">*NOTE: If more than 5 test Names are selected, the display will be diverted to the vertical format.</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-if="setting.settingType === 6">
                        <label for="dropdowninput" class="col-sm-4 control-label">{{setting.settingName}}</label>
                        <div class="col-sm-7">
                            <select id="dropdowninput" ng-model="setting.textValue" ng-disabled="ctrl.displayOnly" class="form-control" ng-options="p as p for p in setting.possibleValues">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row" ng-if="setting.settingType === 7">
                        <label for="checkboxinput" class="col-sm-4 control-label">{{setting.settingName}}</label>
                        <div class="col-sm-7">
                           <input id="checkboxinput" type="checkbox" ng-model="setting.isChecked">
                        </div>
                    </div>
                    <div class="form-group row" ng-if="setting.settingType === 8">
                        <label for="listareainput" class="col-sm-4 control-label">{{setting.settingName}}</label>
                        <div class="col-sm-7">
                            <div class="form-control chkbox-div">
                                <ui-virtual-list ui-selected-top="selectedTop" ui-data-provider="setting.selectionValues" ng-model="setting.selectedOption"></ui-virtual-list>
                            </div>
                            <div class="row" style="padding-top: 2px; padding-bottom: 2px;">
                                <input class="col-sm-5 col-sm-offset-1 pull-left" ng-model="searchTextValue" type="text" style="padding-top: 4px;" ng-change="searchText(searchTextValue)" placeholder="Search">
                                <div class="col-sm-3 btn-toolbar pull-right">
                                    <button type="button" class="btn btn-sm btn-secondary" ng-click="clearAll()">Clear All</button>
                                </div>
                                <div class="col-sm-3 btn-toolbar pull-right">
                                    <button type="button" class="btn btn-sm btn-secondary" ng-click="selectAll()">Select All</button>
                                </div>
                            </div>
                            <div style="padding-top: 5px;" ng-if="panel.title === 'Labs'">
                                <label class="col-sm-12 bg-danger">*NOTE: If more than 5 test Names are selected, the display will be diverted to the vertical format.</label>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <a ng-click="dismiss()" class="btn btn-default" tabindex="-1" ng-show="displayOnly"><i class="glyphicon glyphicon-ok"></i>Done</a>
            <a ng-click="dismiss()" class="btn btn-default" tabindex="-1" ng-hide="displayOnly"><i class="glyphicon glyphicon-remove"></i>Cancel</a>
            <button type="submit" class="btn btn-primary btn-lg" ng-hide="displayOnly"><i class="glyphicon glyphicon-ok"></i>Save</button>
        </div>
    </form>
</div>
