<div>
  <div class="control-group" ng-show="labsGridOptions.enableExpandable">
      <input type="button" class="btn btn-small" ng-click="expandLabsRows()" value="Expand All" />
      <input type="button" class="btn btn-small" ng-click="collapseLabsRows()" value="Collapse All" />
  </div>
  <div ui-grid="labsGridOptions" class="grid">
      <div class="grid-msg-overlay" ng-hide="!labsLoading">
          <div class="msg">
              <span>
                  Loading Data...
                  <i class="fa fa-spinner fa-spin"></i>
              </span>
          </div>
      </div>
      <div class="grid-msg-overlay" ng-hide="labsLoading || labsGridOptions.data.length">
          <div class="msg">
              <span>No Labs in this Section</span>
          </div>
      </div>
  </div>
</div>
