<div>
  <div class="control-group" ng-show="problemsGridOptions.enableExpandable">
      <input type="button" class="btn btn-small" ng-click="expandProblemsRows()" value="Expand All" />
      <input type="button" class="btn btn-small" ng-click="collapseProblemsRows()" value="Collapse All" />
  </div>
  <div ui-grid="problemsGridOptions" class="grid">
      <div class="grid-msg-overlay" ng-hide="!problemsLoading">
          <div class="msg">
              <span>
                  Loading Data...
                  <i class="fa fa-spinner fa-spin"></i>
              </span>
          </div>
      </div>
      <div class="grid-msg-overlay" ng-hide="problemsLoading || problemsGridOptions.data.length">
          <div class="msg">
              <span>No Data</span>
          </div>
      </div>
  </div>
</div>
