<div>
  <div class="control-group" ng-show="pendingProceduresGridOptions.enableExpandable">
      <input type="button" class="btn btn-small" ng-click="expandPendingProceduresRows()" value="Expand All" />
      <input type="button" class="btn btn-small" ng-click="collapsePendingProceduresRows()" value="Collapse All" />
  </div>
  <div ui-grid="pendingProceduresGridOptions" class="grid">
      <div class="grid-msg-overlay" ng-hide="!pendingProceduresLoading">
          <div class="msg">
              <span>
                  Loading Data...
                  <i class="fa fa-spinner fa-spin"></i>
              </span>
          </div>
      </div>
      <div class="grid-msg-overlay" ng-hide="pendingProceduresLoading || pendingProceduresGridOptions.data.length">
          <div class="msg">
              <span>No Pending Procedures in this Section</span>
          </div>
      </div>
  </div>
</div>
