<div class="container report_row">
  <div class="row" class="report_column500" ng-if="(patient.admissionInfo || patient.team) && !providersError">
    <div class="col-xs-6">
      <div class="row row-padded">
        Admiting Information
      </div>
      <div class="row">
        <div class="col-xs-4 col-righted">
          <strong>Provider:</strong>
        </div>
        <div class="col-xs-6 col-lefted">
          {{patient.admissionInfo.attendingProvider}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-righted">
          <strong>Diagnosis:</strong>
        </div>
        <div class="col-xs-6 col-lefted">
          {{patient.admissionInfo.diagnosis}}
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="row row-padded">
        Attending Information
      </div>
      <div class="row">
        <div class="col-xs-4 col-righted">
          <strong>Provider:</strong>
        </div>
        <div class="col-xs-6 col-lefted">
          {{patient.team.attendingName}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-righted">
          <strong>Inpatient:</strong>
        </div>
        <div class="col-xs-6 col-lefted">
          {{patient.team.inpatientName}}
        </div>
      </div>
    </div>
  </div>
  <div class="row" class="report_column500" ng-if="providersError">
    <span class="message">Internal error loading active contacts.</span>
  </div>
  <div class="row" class="report_column500" ng-if="providersFound && !providersError">
    <span class="message">No active providers found.</span>
  </div>
</div>
