<div>
  <div class="control-group" ng-show="activeMedsGridOptions.enableExpandable">
    <input type="button" class="btn btn-small" ng-click="expandactiveMedsRows()" value="Expand All" />
    <input type="button" class="btn btn-small" ng-click="collapseactiveMedsRows()" value="Collapse All" />
  </div>
  <div ui-grid="activeMedsGridOptions" class="grid">
    <div class="grid-msg-overlay" ng-hide="!activeMedsLoading">
      <div class="msg">
        <span>
          Loading active medications...
          <i class="fa fa-spinner fa-spin"></i>
        </span>
      </div>
    </div>
    <div class="grid-msg-overlay" ng-hide="activeMedsLoading || activeMedsGridOptions.data.length || activeMedsLoadError">
      <div class="msg">
          <span>No active medications found.</span>
      </div>
    </div>
    <div class="grid-msg-overlay" ng-hide="!activeMedsLoadError">
      <div class="msg">
          <span>{{activeMedsLoadError}}</span>
      </div>
    </div>
  </div>
</div>
