<div>
  <div ui-grid="activeMedsGridOptions" class="grid">
    <div class="grid-msg-overlay" ng-hide="!activeMedsLoading || activeMedsLoadError">
      <div class="msg">
        <span>
          Loading active inpatient medications...
          <i class="fa fa-spinner fa-spin"></i>
        </span>
      </div>
    </div>
    <div class="grid-msg-overlay" ng-hide="activeMedsLoading || activeMedsLoadError || activeMedsGridOptions.data.length">
      <div class="msg">
          <span>No active inpatient medications found.</span>
      </div>
    </div>
    <div class="grid-msg-overlay" ng-hide="!activeMedsLoadError">
      <div class="msg">
          <span>{{activeMedsLoadError}}</span>
      </div>
    </div>
  </div>
</div>
