<div class="container report_row">
  <div class="row" ng-if="!activeMedsLoadError && activeMeds && activeMeds.length">
    <div class="col-xs-3 grid_header">Name</div>
    <div class="col-xs-3 grid_header">Dose</div>
    <div class="col-xs-3 grid_header">Route</div>
    <div class="col-xs-3 grid_header">Schedule</div>
  </div>
  <div class="row" ng-repeat="med in activeMeds" ng-if="!activeMedsLoadError && activeMeds && activeMeds.length">
    <div class="col-xs-3">{{med.name}}</div>
    <div class="col-xs-3">{{med.dose}}</div>
    <div class="col-xs-3">{{med.route}}</div>
    <div class="col-xs-3">{{med.schedule}}</div>
  </div>
  <div class="row" ng-if="activeMedsLoadError">
    <span class="message">Internal error loading active inpatient medications.</span>
  </div>
  <div class="row" ng-if="!activeMedsLoadError && activeMeds.length == 0">
    <span class="message">No active inpatient medications found.</span>
  </div>
</div>
