// Colors
// --------------------------------------------------

$btnText:                           #fff;
$btnTextAlt:                        #000;

.row-centered {
    text-align:center;
}
.row-padded {
    padding-top:10px;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.col-righted {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:right;
    /* inline-block space fix */
    margin-right:-4px;
}
.col-lefted {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}


.panel {
  .panel-heading {
    .panel-title {
      font-weight: bold;
      font-size: 16px;
    }
  }
  .panel-body {
    div {
      div {
        .allergyTag {
          font-size: 16px;
        }
      }
    }
    .control-group {
      margin-bottom: 5px;
    }
    .grid {
      width: 100%;
      height: 250px;
    }

    .grid-msg-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.4);
      .msg {
        opacity: 1;
        position: absolute;
        top: 20%;
        left: 20%;
        width: 60%;
        height: 50%;
        background-color: #eee;
        border-radius: 4px;
        border: 1px solid #555;
        text-align: center;
        font-size: 24px;
        display: table;
            span {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }

    .panel-msg-overlay {
      position: inherit;
      top: 0;
      bottom: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.4);
      .msg {
        opacity: 1;
        position: absolute;
        top: 20%;
        left: 20%;
        width: 60%;
        height: 50%;
        background-color: #eee;
        border-radius: 4px;
        border: 1px solid #555;
        text-align: center;
        font-size: 24px;
        display: table;
            span {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }
  }
}

// Gridster Styling
.controls {
    margin-bottom: 20px;
}
.page-header {
    margin-top: 20px;
}
.tdp-ul {
    list-style: none;
    margin-left: -40px;
}
.box {
    height: 100%;
    border: 1px solid #ccc;
    background-color: #fff;
}
.box-header {
    background-color: #eee;
    padding: 0 30px 0 10px;
    border-bottom: 1px solid #ccc;
    cursor: move;
    position: relative;
}
.box-header h3 {
    margin-top: 10px;
    display: inline-block;
}
.box-content {
    padding: 10px;
}
.box-header-btns {
    top: 15px;
    right: 10px;
    cursor: pointer;
    position: absolute;
}
a {
    color: #ccc;
}
form {
    margin-bottom: 0;
}
.gridster {
    border: 1px solid #ccc;
}

.stripe-4 {
  color: black;
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    #ccc 10px,
    #ccc 20px
  ),
  linear-gradient(
    to bottom,
    #eee,
    #999
  )
}

// ui-grid
.simpleGrid {
  .ui-grid-viewport .ui-grid-cell-contents {
    word-wrap: break-word;
    white-space: normal !important;
  }
}

.simpleGrid {
  .ui-grid-row, .ui-grid-cell {
    height: auto !important;
  }
}

.simpleGrid {
  .ui-grid-row div[role=row] {
    display: flex ;
    align-content: stretch;
  }
}
.wrap {
  white-space: normal;
}