<div ng-controller="PatientPlanCtrl as ctrl" class="container">
  <div class="hidden-print">
    <div class="row hidden-print">
      <h3>The Daily Plan</h3>
      <span>Facility: {{ctrl.facilityName}}  Date/Time:<b> {{ctrl.cdate | date:'MM/dd/yyyy hh:mm:ss a'}}</b></span>
    </div>
    <div class="row">
      <div class="panel panel-default">
          <div class="panel-heading clearfix">
            <div class="col-xs-2 col-sm-1 pull-right">
              <button type="button" title="Print" class="btn btn-default" ng-click="genPDF()">PDF</button>
            </div>
            <div class="col-xs-10 col-sm-11 pull-left">
              <div class="col-xs-4">
                <h4>Patient: {{ctrl.demographics.name}}</h4>
              </div>
              <div class="col-xs-4">
                <h4>DOB: {{ctrl.demographics.DOB}}</h4>
              </div>
              <div class="col-xs-4">
                <h4 ng-show="ctrl.demographics.location.name">Location: {{ctrl.demographics.location.name}}</h4>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <div gridster="ctrl.gridsterOptions">
              <ul ng-model="ctrl.panels">
                <li gridster-item="panel.settings" ng-repeat="panel in ctrl.panels" grid-panel>
                  <div class="box" ng-controller="CustomPanelCtrl">
                    <div class="dragHandle" ng-class="panel.highlightPanel==true ? 'stripe-4 box-header' : 'box-header'">
                      <h3>{{ panel.title }}<span ng-show="panel.mandatory">*</span></h3>
                      <div class="box-header-btns pull-right">
                        <button type="button" title="Settings" class="btn btn-default tdp-cog" ng-click="openSettings(panel)" ng-style="panel.highlightPanel==true && {'background-color':'white'}" >Settings</button>
                        <!-- <a title="Remove panel" ng-click="remove(panel)"><i class="glyphicon glyphicon-trash"></i></a> -->
                      </div>
                    </div>
                    <div class="box-content">

                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
