<div ng-controller="PatientPlanCtrl as ctrl" class="container">
  <div class="do-not-print">
    <div class="row">
      <h3>The Daily Plan</h3>
      <span>Date/Time:<b> {{ctrl.cdate | date:'MM/dd/yyyy hh:mm:ss a'}}</b></span>
    </div>
    <div class="row">
      <div class="panel panel-default">
          <div class="panel-heading clearfix">
            <a title="Print" ng-click="printDailyPlan()" class="pull-right"><i class="glyphicon glyphicon-print"></i></a>
            <h3 class="panel-title pull-left">Patient: {{ctrl.demographics.name}} DOB: {{ctrl.demographics.DOB}} Gender: {{ctrl.demographics.sex}} SSN:  {{ctrl.demographics.SSN}} Location: {{ctrl.demographics.location.name}}</h3>
          </div>
          <div class="panel-body">
            <div gridster="gridsterOptions">
              <ul ng-model="ctrl.panels">
                <li gridster-item="panel.settings" ng-repeat="panel in ctrl.panels" grid-panel>
                  <div class="box" ng-controller="CustomPanelCtrl">
                    <div class="box-header">
                      <h3>{{ panel.title }}</h3>
                      <div class="box-header-btns pull-right">
                        <a title="settings" ng-click="openSettings(panel)"><i class="glyphicon glyphicon-cog"></i></a>
                        <a title="Remove panel" ng-click="remove(panel)"><i class="glyphicon glyphicon-trash"></i></a>
                      </div>
                    </div>
                    <div class="box-content">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div id="printSection" class="print-only">
    <div class="header" style="">
      <table class="report_logo">
        <tr>
          <td><img class="img-responsive" alt="The Daily Plan" src="common/assets/images/dailyPlanLogo.jpg"/></td>
          <td><span>The Daily Plan represents current hospital activity and it is NOT a full list of everything that takes place during your hospital stay.  Your medications, treatments, appointments, etc. may change at discharge.  Please keep your personal information out of sight by storing this folder in a private place, such as a night stand drawer or bedside cabinet.</span></td>
        </tr>
      </table>
      <div class="report_title">
          <h2 class="report MEDIUM">Confidential: The Daily Plan<sup>&#174;</sup> {{ctrl.cdate | date:'MM/dd/yyyy'}}</h2>
      </div>
      <div>
        <table class="report_patient">
          <tr>
              <td class="report_patient_name"><span class="report MEDIUM">{{ctrl.demographics.name}}</span></td>
              <td class="report_patient_name"><span class="report MEDIUM">DOB: {{ctrl.demographics.DOB}}</span></td>
              <td class="report_patient_name"><span class="report MEDIUM">Med Unit: {{ctrl.demographics.location.name}}</span></td>
            </tr>
        </table>
      </div>
   </div>
  </div>
</div>
