<div>
  <div ui-grid="visitsGridOptions" class="grid">
      <div class="grid-msg-overlay" ng-hide="!visitsLoading || visitsLoadError">
          <div class="msg">
              <span>
                  Loading future visits...
                  <i class="fa fa-spinner fa-spin"></i>
              </span>
          </div>
      </div>
      <div class="grid-msg-overlay" ng-hide="visitsLoading || visitsLoadError || visitsGridOptions.data.length">
          <div class="msg">
              <span>No Future Visits Found</span>
          </div>
      </div>
      <div class="grid-msg-overlay" ng-hide="!visitsLoadError">
        <div class="msg">
            <span>{{visitsLoadError}}</span>
        </div>
      </div>
  </div>
</div>
