<div class="container report_row">
  <div class="row" class="report_column500" ng-if="visits && visits.length && !visitsError">
    <div class="col-xs-6 grid_header">Title</div>
    <div class="col-xs-3 grid_header">Time</div>
    <div class="col-xs-3 grid_header">Status</div>
    <div class="col-xs-6" ng-repeat-start="visit in visits">{{visit.title}}</div>
    <div class="col-xs-3 grid_header">{{visit.time}}</div>
    <div class="col-xs-3" ng-repeat-end>{{visit.status}}</div>
  </div>
  <div class="row" class="report_column500" ng-if="visitsError">
    <span class="message">Internal error loading visits.</span>
  </div>
  <div class="row" class="report_column500" ng-if="visits.length == 0 && !visitsError">
    <span class="message">No visits found.</span>
  </div>
</div>
