<div class="container report_row">
  <div class="row" class="report_column500" ng-if="visits && visits.length && !visitsError">
    <div class="col-xs-4 grid_header">Time</div>
    <div class="col-xs-4 grid_header">Clinic</div>
    <div class="col-xs-4 grid_header">Status</div>
  </div>
  <div class="row" class="report_column500" ng-repeat="visit in visits" ng-if="visits && visits.length && !visitsError">
    <div class="col-xs-4">{{visit.time}}</div>
    <div class="col-xs-4">{{visit.clinic}}</div>
    <div class="col-xs-4">{{visit.status}}</div>
  </div>
  <div class="row" class="report_column500" ng-if="visitsError">
    <span class="message">Internal error loading visits.</span>
  </div>
  <div class="row" class="report_column500" ng-if="visits.length == 0 && !visitsError">
    <span class="message">No visits found.</span>
  </div>
</div>
