<div class="container report_row">
  <div class="row" ng-if="!visitsLoadError && visits && visits.length">
    <div class="col-xs-4 grid_header">Time</div>
    <div class="col-xs-4 grid_header">Clinic</div>
    <div class="col-xs-4 grid_header">Status</div>
  </div>
  <div class="row" ng-repeat="visit in visits" ng-if="!visitsLoadError && visits && visits.length">
    <div class="col-xs-4">{{visit.time}}</div>
    <div class="col-xs-4">{{visit.clinic}}</div>
    <div class="col-xs-4">{{visit.status}}</div>
  </div>
  <div class="row" ng-if="visitsLoadError">
    <span class="message">Internal error: {{visitsLoadError}}</span>
  </div>
  <div class="row" ng-if="!visitsLoadError && visits.length == 0">
    <span class="message">No visits found.</span>
  </div>
</div>
