<div ng-controller="NavbarCtrl as ctrl" class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-logo"><img alt="TDP Home" src="common/assets/images/TDP-Logo-tr-lg.png"></a>
            <button type="button" ng-click="isCollapsed = !isCollapsed" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar-main" collapse="isCollapsed" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ng-show="isLoggedIn()" ng-class="{active: isActive(&quot;/PatientSearch&quot;)}"><a href="/PatientSearch">Patient Search</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="isLoggedIn()"><span class="">{{getCurrentUser().displayName}}</span></li>
                <li ng-show="isLoggedIn()" ng-class="{active: isActive(&quot;/logout&quot;)}"><a href="/">Logout</a></li>
            </ul>
        </div>
    </div>
</div>
