<div ng-controller="TemplateSearchCtrl as ctrl" class="container">
  <div class="row">
    <h2>Template Search</h2>
  </div>
  <div class="row">
    <uib-tabset>
      <uib-tab heading="All" select="ctrl.clearAlerts()" active="ctrl.tabInfo[0].active">
        <div class="container">
            <div class="row row-centered">
                <div class="col-sm-4 col-centered">
                  <form ng-submit="ctrl.searchAll()" name="searchAll">
                      <div class="form-group">
                        <label for="searchAllTemplates"><h4>Template Name</h4></label>
                        <input type="text" ng-model="ctrl.tabInfo[0].search" class="form-control" id="searchAllTemplates" placeholder="All" autocomplete="off" style="cursor: auto;">
                      </div>
                      <input class="btn btn-primary" type="submit" value="Search">
                  </form>
                </div>
            </div>
        </div>
      </uib-tab>
      <uib-tab heading="Ward" select="ctrl.clearAlerts()" active="ctrl.tabInfo[1].active">
        <div class="container">
            <div class="row row-centered">
                <div class="col-sm-4 col-centered">
                  <form ng-submit="ctrl.searchWard()" name="searchWard">
                      <div class="form-group">
                        <label for="searchTemplateInWard"><h4>Select Ward to Display</h4></label>
                        <select title="Select a Ward" class="form-control" id="searchTemplateInWard" ng-model="ctrl.tabInfo[1].search" 
                                ng-options="item.id as item.name for item in ctrl.wards">
                          <option value="">Select a ward...</option>
                        </select>
                      </div>
                      <input class="btn btn-primary" type="submit" value="Search" ng-disabled="!ctrl.tabInfo[1].search">
                  </form>
                </div>
            </div>
        </div>
      </uib-tab>
      <uib-tab heading="Clinic" select="ctrl.clearAlerts()" active="ctrl.tabInfo[2].active">
        <div class="container">
            <div class="row row-centered">
                <div class="col-sm-4 col-centered">
                  <form ng-submit="ctrl.searchClinic()" name="searchClinic">
                      <div class="form-group">
                        <label for="searchTemplateInClinic"><h4>Select Clinic to Display</h4></label>
                        <select title="Select a Clinic" class="form-control" id="searchTemplateInClinic" ng-options="item.id as item.name for item in ctrl.clinics" 
                                ng-model="ctrl.tabInfo[2].search">
                            <option value="">Select a clinic...</option>
                        </select>
                      </div>
                      <input class="btn btn-primary" type="submit" value="Search" ng-disabled="!ctrl.tabInfo[2].search">
                  </form>
                </div>
            </div>
        </div>
      </uib-tab>
    </uib-tabset>
    <div class="row row-centered">
      <div class="col-sm-4 col-centered">
        <div class="alert alert-danger" role="alert" ng-show="ctrl.noResults">No Templates Found.  Please Try Again.</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-centered">
      <table datatable="" dt-options="ctrl.dtOptions" dt-columns="ctrl.dtColumns" dt-instance="ctrl.dtInstance" class="row-border hover"></table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-centered">
      <hr>
      <div class='col-sm-4 col-centered pull-left'>
        <button type="button" class='btn btn-primary' ng-click="ctrl.display()">Display</button>
        <button type="button" class='btn btn-primary' ng-click="ctrl.edit()">Edit</button>
        <button type="button" class='btn btn-primary' ng-click="ctrl.create()">Create</button>
        <button type="button" class='btn btn-primary' ng-click="ctrl.delete()">Delete</button>
      </div>
      <!-- <form ng-submit="ctrl.display()" name="display">
          <input class="btn btn-primary" type="submit" value="Display">
      </form> -->
    </div>
  </div>
  <div class="row row-centered">
      <div class="col-sm-4 col-centered pull-left">
        <div class="alert alert-danger" role="alert" ng-show="ctrl.displayErr.flag">{{ctrl.displayErr.msg}}</div>
      </div>
</div>
