<div class="container report_row">
  <div class="row" class="report_column500" ng-if="(patient.emergencyContact || patient.nextOfKin) && !contactsError">
    <div class="col-xs-6">
      <div class="row row-padded">
        Emergency Contact
      </div>
      <div class="row">
        <div class="col-xs-4 col-righted">
          <strong>Relation:</strong>
        </div>
        <div class="col-xs-6 col-lefted">
          {{patient.emergencyContact.relation}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-righted">
          <strong>Name:</strong>
        </div>
        <div class="col-xs-6 col-lefted">
          {{patient.emergencyContact.name}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-righted">
          <strong>Address:</strong>
        </div>
        <div class="col-xs-6 col-lefted">
          <address>
            {{patient.emergencyContact.st1}}<br>
            {{patient.emergencyContact.city}} {{patient.emergencyContact.state}} {{patient.emergencyContact.zip}}<br>
          </address>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-righted">
          <strong>Phone:</strong>
        </div>
        <div class="col-xs-6 col-lefted">
          {{patient.emergencyContact.phone}}
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="row row-padded">
        Next of Kin Contact
      </div>
      <div class="row">
        <div class="col-xs-4 col-righted">
          <strong>Relation:</strong>
        </div>
        <div class="col-xs-6 col-lefted">
          {{patient.nextOfKin.relation}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-righted">
          <strong>Name:</strong>
        </div>
        <div class="col-xs-6 col-lefted">
          {{patient.nextOfKin.name}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-righted">
          <strong>Address:</strong>
        </div>
        <div class="col-xs-6 col-lefted">
          <address>
            {{patient.nextOfKin.st1}}<br>
            {{patient.nextOfKin.city}} {{patient.nextOfKin.state}} {{patient.nextOfKin.zip}}<br>
          </address>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-righted">
          <strong>Phone:</strong>
        </div>
        <div class="col-xs-6 col-lefted">
          {{patient.nextOfKin.phone}}
        </div>
      </div>
    </div>
  </div>
  <div class="row" class="report_column500" ng-if="contactsError">
    <span class="message">Internal error loading active contacts.</span>
  </div>
  <div class="row" class="report_column500" ng-if="contactsFound && !contactsError">
    <span class="message">No active contacts found.</span>
  </div>
</div>
