<div ng-controller="LoginCtrl as ctrl" class="container">
    <div class="row">
        <div class="col-sm-4">
            <h1>Login</h1>
            <form name="form" ng-submit="login(form)" novalidate="" width="380px" margin="0" auto="auto" class="form">
                <div class="form-group">
                    <label for="facilitySelect"> Facility</label>
                    <select name="facilitySelect"
                            id="facilitySelect"
                            ng-options="option as option.name for option in ctrl.facilities"
                            ng-model="ctrl.facilitySelect"
                            ng-change="ctrl.setFacility()"
                            class="form-control">
                    </select>
                </div>
                <div class="form-group">
                    <label for="accessCodeSelect">Access Code</label>
                    <input type="password" name="accessCode" id="accessCodeSelect" ng-model="ctrl.user.accessCode" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="verifyCodeSelect">Verify Code</label>
                    <input type="password" name="verifyCode" id="verifyCodeSelect" ng-model="ctrl.user.verifyCode" class="form-control" />
                </div>

                <div class="form-group">
                    <label id="lblConsent" tabindex="-1" alt="Consent" title="Consent" for="checky">Consent</label>
                    <div class="checkbox fixpadding">
                        <input id="checky" type="checkbox" autocomplete="off" title="Consent Checkbox" name="checky" required="" ng-model="consent.isselected" /> I accept the terms and conditions for accessing the system described above.
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" ng-disabled="!consent.isselected" class="btn btn-inverse btn-lg btn-login">Login</button>
                </div>
                <div class="form-group">
                    <div class="alert alert-danger" role="alert" ng-show="ctrl.errors">Invalid Access Code/Verify Code, please try again.</div>
                </div>
            </form>
        </div>
        <div class="col-sm-8">
            <img ng-src="{{ctrl.landingImage}}" width="100%"/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h3>Contact Information</h3>
            <div ng-if="ctrl.contact.title1">{{ctrl.contact.title1}}</div>
            <div ng-if="ctrl.contact.title2">{{ctrl.contact.title2}}</div>
            <div ng-if="ctrl.contact.title3">{{ctrl.contact.title3}}</div>
            <div ng-if="ctrl.contact.phone">Phone: {{ctrl.contact.phone}}</div>
            <div ng-if="ctrl.contact.email">
                <a ng-href="mailto:{{ctrl.contact.email}}">{{ctrl.contact.email}}</a>
            </div>
        </div>
        <div class="col-sm-8">
            <h3>The Latest News</h3>
            <uib-accordion close-others="true">
                <uib-accordion-group heading="{{tab.message_headline}}" ng-repeat="tab in ctrl.messageTabs">
                    {{tab.message_text}}
                </uib-accordion-group>
            </uib-accordion>
        </div>
    </div>
</div>
