<div ng-controller="LoginCtrl" class="container">
    <div class="row">
        <div class="col-sm-4">
            <h1>Login</h1>
            <form name="form" ng-submit="login(form)" novalidate="" width="380px" margin="0" auto="auto" class="form">
                <div class="form-group"></div>
                <label>Access Code</label>
                <input type="text" name="accessCode" ng-model="user.accessCode" class="form-control" />
                <div class="form-group"></div>
                <label>Verify Code</label>
                <input type="password" name="verifyCode" ng-model="user.verifyCode" class="form-control" />
                <br/>
                <label id="lblConsent" tabindex="-1" alt="Consent" title="Consent" for="checky">Consent</label>
                <br/>
                <input id="checky" type="checkbox" autocomplete="off" title="Consent Checkbox" name="checky" required="" /> I accept the terms and conditions for accessing the system described above.
                <br/>
                <br/>
                <div>
                    <button type="submit" class="btn btn-inverse btn-lg btn-login">Login</button>
                </div>
            </form>
        </div>
        <div class="col-sm-8">
            <h3>The Latest News</h3>
            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                      Collapsible Group Item #1
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                  <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                      Collapsible Group Item #2
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                  <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                      Collapsible Group Item #3
                    </a>
                  </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                  <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h3>Contact Information</h3>
            <p/>Please reach out to the TDP Coordinator
                <br/>555-555-555
                <br/>Email:
                <br/>
                <a href="tdp_coordinator@va.gov"></a>tdp_coordinator@va.gov
            </p>
        </div>
        <div class="col-sm-8"><p>The Daily Plan&reg; was initiated to increase patient safety during hospitalization by empowering patients - and their families - to ask questions about their care; in particular, to speak up if they believe a patient&apos;s care plan is different than expected.</p>
        <p>The plan is a patient-specific document reviewed with patients each day of their hospitalization.</p>
        </div>
   </div>
   <div class="row">
       <div class="col-sm-4">
            <h3> Additional Resources</h3>
            <p><a href="#">View demo &gt;&gt;</a></p>
        </div>
        <div class="col-sm-8">
            <h3>Testimonials</h3>
            <p>This is where testimonials would go</p>
        </div>
   </div>
    
    
    
</div>
