<div ng-controller="SystemSettingsCtrl as ctrl" class="container">
    <div class="row">
        <h2>System Settings</h2>
    </div>
    <div class="row">
        <uib-tabset class="col-sm-12" active="ctrl.activeTab">
            <uib-tab index="0" heading="Messages" select="ctrl.selectTab(0)">
                <div class="container">
                    <div class="row row-centered">
                        <div class="col-sm-4 col-centered">
                            <form ng-submit="ctrl.commit()" name="commit">
                                <div class="form-group row" ng-repeat="message in ctrl.facilityMessages">
                                    <label for="{{'facilitymsg'+$index}}" class="control-label">{{'Message'+$index}}</label>
                                    <textarea ng-model="message" rows="4" class="form-control" id="{{'facilitymsg'+$index}}"></textarea>
                                </div>
                                <input class="btn btn-primary" type="submit" value="Save" ng-disabled="searchAll.$invalid">
                                <input class="btn btn-primary" type="button" value="Reset" ng-click"ctrl.reset()">
                            </form>
                        </div>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="1" heading="Images" select="ctrl.selectTab(1)">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4" ng-if="ctrl.tabIndex === 1">
                            <h4>Existing Images</h4>
                            <table datatable="" dt-options="ctrl.dtOptions" dt-columns="ctrl.dtColumns" dt-instance="ctrl.dtInstance" class="row-border hover"></table>
                            <form ng-submit="ctrl.addImage()" name="searchWard">
                                <div class="form-group">
                                    <h4>Select an Image</h4>
                                    <input type="file" class="form-control" on-file-change="ctrl.onFileChange" ctrl="ctrl" file-select>
                                </div>
                                <button class="btn btn-primary pull-right" type="submit" ng-disabled="!ctrl.selectedFile">Add</button>
                            </form>
                        </div>
                        <div class="col-sm-8">
                            <img ng-src="{{imageSrc}}" width="100%" ng-show="ctrl.selectedFile"/>
                        </div>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
    <div class="row row-centered">
        <div class="col-sm-4 col-centered pull-left">
            <div class="alert alert-danger" role="alert" ng-show="ctrl.displayErr.flag">{{ctrl.displayErr.msg}}</div>
        </div>
    </div>
