<div ng-controller="SystemSettingsCtrl as ctrl" class="container">
    <div class="row">
        <h2>System Settings</h2>
    </div>
    <div class="row">
        <uib-tabset class="col-sm-12" active="ctrl.activeTab">
            <uib-tab index="0" heading="Messages" select="ctrl.selectTab(0)">
                <div class="container">
                    <div class="row row-centered">
                        <div class="col-sm-4 col-centered">
                            <form ng-submit="ctrl.commit()" name="commit">
                                <div class="form-group row" ng-repeat="message in ctrl.facilityMessages">
                                    <label for="{{'facilitymsg'+$index}}" class="control-label">{{'Message'+$index}}</label>
                                    <textarea ng-model="message" rows="4" class="form-control" id="{{'facilitymsg'+$index}}"></textarea>
                                </div>
                                <input class="btn btn-primary" type="submit" value="Save" ng-disabled="searchAll.$invalid">
                                <input class="btn btn-primary" type="button" value="Reset" ng-click"ctrl.reset()">
                            </form>
                        </div>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="1" heading="Images" select="ctrl.selectTab(1)">
                    <div class="row row-centered">
                        <div class="col-sm-4" ng-if="ctrl.tabIndex === 1">
                            <form name="searchWard">
                                <hr>
                                <div class="form-group">
                                    <h3>Select a New Image</h3>
                                    <div class="input-group">
                                        <input type="file" class="form-control" on-file-change="ctrl.onFileChange" ctrl="ctrl" file-select>
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" type="button" ng-disabled="!ctrl.selectedFile" ng-click="ctrl.addImage()">Add</button>
                                        </span>
                                    </div>
                                </div>
                                <hr>
                                <h3>Existing Images</h3>
                                <table datatable="ng" dt-options="ctrl.dtOptions" dt-columns="ctrl.dtColumns" dt-instance="ctrl.dtInstance" class="row-border hover">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Active</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="datum in ctrl.data" ng-model="ctrl.data">
                                            <td ng-click="ctrl.imgClick(datum.name)" class="nameLink clickable">{{ datum.name }}</td>
                                            <td><input type="checkbox" ng-model="datum.active" ng-click="ctrl.activeClick()"></td>
                                            <td ng-click="ctrl.imgDelete(datum.name)" class="nameLink clickable">Delete</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>
                            <div class="btn-toolbar pull-right" style="padding-top: 5px;">
                                <button type="button" class="btn btn-primary" ng-click="ctrl.save()" ng-disabled="!ctrl.dirty">Save</button>
                                <button type="button" class="btn btn-primary" ng-click="ctrl.restore()" ng-disabled="!ctrl.dirty">Restore</button>
                            </div>
                            <div class="alert" role="alert" ng-if="ctrl.displayMsg">{{ctrl.displayMsg}}</div>
                            <div class="alert" role="alert alert-danger" ng-if="ctrl.displayErr">{{ctrl.displayErr}}</div>
                        </div>
                        <div class="col-sm-8">
                            <img ng-src="{{imageSrc}}" width="100%" ng-show="ctrl.selectedFile || ctrl.existingFile"/>
                        </div>
                    </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>
