<div class="container report_row">
  <div class="row" class="report_column500" ng-if="allergies && allergies.length && !allergiesError">
    <div class="col-xs-12 grid_header">Name</div>
    <div class="col-xs-8" ng-repeat="allergy in allergies">{{allergy.detail}}</div>
  </div>
  <div class="row" class="report_column500" ng-if="allergiesError">
    <span class="message">Internal error loading allergies.</span>
  </div>
  <div class="row" class="report_column500" ng-if="allergies.length == 0 && !allergiesError">
    <span class="message">No allergies found.</span>
  </div>
</div>
