<div class="container report_row">
  <div class="row" class="report_column500" ng-if="healthFactors && healthFactors.length && !healthFactorsError">
    <div class="col-xs-12 grid_header">Name</div>
    <div class="col-xs-8" ng-repeat="healthFactor in healthFactors">{{healthFactor.detail}}</div>
  </div>
  <div class="row" class="report_column500" ng-if="healthFactorsError">
    <span class="message">Internal error loading healthFactors.</span>
  </div>
  <div class="row" class="report_column500" ng-if="healthFactors.length == 0 && !healthFactorsError">
    <span class="message">No healthFactors found.</span>
  </div>
</div>
