<div class="container report_row">
  <div class="row" ng-if="!ivMedsLoadError && ivMeds && ivMeds.length">
    <div class="col-xs-6 grid_header">Detail</div>
    <div class="col-xs-6 grid_header">Direction</div>
  </div>
  <div class="row" ng-repeat="med in ivMeds" ng-if="!ivMedsLoadError && ivMeds && ivMeds.length">
    <div class="col-xs-6">{{med.detail}}</div>
    <div class="col-xs-6">{{med.sig}}</div>
  </div>
  <div class="row" ng-if="ivMedsLoadError">
    <span class="message">Internal error loading IV medications.</span>
  </div>
  <div class="row" ng-if="!ivMedsLoadError && ivMeds.length === 0">
    <span class="message">No IV medications found.</span>
  </div>
</div>
