<div>
  <div ui-grid="ivMedsGridOptions" class="grid">
    <div class="grid-msg-overlay" ng-hide="!ivMedsLoading || ivMedsLoadError">
      <div class="msg">
        <span>
          Loading IV medications...
          <i class="fa fa-spinner fa-spin"></i>
        </span>
      </div>
    </div>
    <div class="grid-msg-overlay" ng-hide="ivMedsLoading || ivMedsLoadError || ivMedsGridOptions.data.length">
      <div class="msg">
          <span>No IV Medications Found</span>
      </div>
    </div>
    <div class="grid-msg-overlay" ng-hide="!ivMedsLoadError">
      <div class="msg">
          <span>{{ivMedsLoadError}}</span>
      </div>
    </div>
  </div>
</div>
