<div class="container report_row">
  <div class="row" class="report_column500" ng-if="ivMeds && ivMeds.length && !ivMedsError">
    <div class="col-xs-8 grid_header">Drug</div>
    <div class="col-xs-4 grid_header">Status</div>
    <div class="col-xs-8" ng-repeat-start="med in ivMeds">{{med.detail}}</div>
    <div class="col-xs-4" ng-repeat-end>{{med.status}}</div>
  </div>
  <div class="row" class="report_column500" ng-if="ivMedsError">
    <span class="message">Internal error loading active medications.</span>
  </div>
  <div class="row" class="report_column500" ng-if="ivMeds.length == 0 && !ivMedsError">
    <span class="message">No IV medications found.</span>
  </div>
</div>
