@page patient {
	size: 8.5in 11in;
	margin: 4.50in 0.25in 0.25in;
	@top-center {
		font-size: 18pt;
		font-weight: bold;
		position: absolute; top: 0; left: 0;
		content: element(header);
		padding: none;
		margin: 0;
	}
	@bottom-left {
		font-size: 90%; font-style: italic;
		content: element(print-time);
	}
	@bottom-center {
		font-size: 90%; font-style: italic;
		content: element(page-count);
	}

  counter-increment: page;
  counter-reset: page 1;

  @bottom-right {
    content: counter(page);
  }

	padding: 10px;
}

@page {
	size: 8.5in 11in;
	margin: 0.75in 0.25in 0.25in;
	@top-center {
		font-size: 18pt;
		font-weight: bold;
		position: absolute; top: 0; left: 0;
		content: element(topimage, start);
		padding: 10px;
	}
	@bottom-left {
		font-size: 90%; font-style: italic;
		content: element(print-time);
	}
	@bottom-center {
		font-size: 90%; font-style: italic;
		content: element(page-count);
	}

  counter-increment: page;
  counter-reset: page 1;

  @bottom-right {
    content: counter(page);
  }

	/*border: thin solid black;*/
	padding: 10px;
}

.page-break {
  display: block;
  page-break-before: always;
}

body {
	margin: 0;
}

div.patient-end {
  counter-reset: page;
}

div.header {
	display: block;
  page-break-before: always;
	width: 700px;
	position: running(header)
  	page: patient;
  	counter-reset: page;
}

span.patient_header {
	background: url('images/dailyPlanPeople.jpg');
  page-break-before: always;
	display: block;
	width: 700px;
	margin: 0;
	padding: 10px 0;
	position: running(topimage)
}

div.print-time {
	position: running(print-time)
}

div.page-count {
	position: running(page-count)
}

.pagenumber:before {
	content: counter(page);
}

.pagecount:before {
	content: counter(pages);
}

.report_logo span {
	font: 10pt italic;
	width: 50%;
	padding: 20px;
}

.report_logo img {
	padding: 10px;
}

.report_patient_name {
	display:inline;
	overflow:hidden;
	margin:0px .6em 0;
}

.patient_data {
	width: 650px;
  page-break-inside: avoid;
}

.report_row {
  width: 100%;
	margin:10px 15px 5px 10px;
}

.report_row p {
	padding:3px 0 2px 0;
}

.report_category {
	border:solid 1px  #005DA4;
}

#report_column500 {
	padding-top:3px;
	margin-right:10px;
}

span.expandable:after {
	content: ' (' attr(title) ') ';
}

.grid_header {
  font-weight: bold;
}

.message span {
  font-weight: bold;
}

div.report_title {
  width: 100%;
  padding-left: 20px;
  border: 3px solid #005DA4;
  page-break-before: auto;
  vertical-align: middle;
}

h3.report_title_text {
  color: #005DA4 !important;
  vertical-align: middle;
}

div.tdp_demographics {
  width:100%;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: :10px;
  color:#005DA4 !important;
  margin-top: 5px;
  margin-bottom: 5px;
}

div.tdp_demographics_row {
  color: #005DA4 !important;
}

ul.tdp_panel {
  list-style-type: none;
}

div.tdp_panel_title {
  border:solid 3px #005DA4;
  padding-left: 20px;
  margin-top: 10px;
}

h4.tdp_panel_title_text {
  color: #005DA4 !important;
  vertical-align: middle;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  padding-left: 5px;
  padding-right: 5px;
}
