<div ng-controller="PatientSearchCtrl as ctrl" class="container">
    <div class="row">
        <h2>Patient Search</h2>
    </div>
    <div class="row">
        <uib-tabset>
            <uib-tab heading="All" select="ctrl.clearAlerts()">
                <div class="container">
                    <div class="row row-centered">
                        <div class="col-sm-4 col-centered">
                            <form ng-submit="ctrl.searchAll()" name="searchAll">
                                <div class="form-group">
                                    <label for="searchAllPatients">Patient Name(Last, First) or SSN</label>
                                    <input type="text" ng-model="ctrl.search.all" required ng-minlength="3" class="form-control" id="searchAllPatients" placeholder="Patient Name(Last, First) or SSN" autocomplete="off" style="cursor: auto;">
                                </div>
                                <input class="btn btn-primary" type="submit" value="Search" ng-disabled="searchAll.$invalid">
                            </form>
                        </div>
                    </div>
                </div>
            </uib-tab>
            <uib-tab heading="Ward" select="ctrl.clearAlerts()">
                <div class="container">
                    <div class="row row-centered">
                        <div class="col-sm-4 col-centered">
                            <form ng-submit="ctrl.searchWard()" name="searchWard">
                                <div class="form-group">
                                    <h4>Select Ward to Display</h4>
                                    <select title="Select a Ward" class="form-control" ng-model="ctrl.search.ward">
                                        <option value="">Select a Ward</option>
                                        <option ng-repeat="option in ctrl.wards" value="{{option.id}}">{{option.name}}</option>
                                    </select>
                                </div>
                                <input class="btn btn-primary" type="submit" value="Search" ng-disabled="!ctrl.search.ward">
                            </form>
                        </div>
                    </div>
                </div>
            </uib-tab>
            <uib-tab heading="Clinic" select="ctrl.clearAlerts()">
                <div class="container">
                    <div class="row row-centered">
                        <div class="col-sm-4 col-centered">
                            <form ng-submit="ctrl.searchClinic()" name="searchClinic">
                                <div class="form-group">
                                    <h4>Select Clinic to Display</h4>
                                    <select title="Select a Clinic" class="form-control" ng-model="ctrl.search.clinic">
                                        <option value="">Select a Clinic</option>
                                        <option ng-repeat="option in ctrl.clinics" value="{{option.id}}">{{option.name}}</option>
                                    </select>
                                </div>
                                <input class="btn btn-primary" type="submit" value="Search" ng-disabled="!ctrl.search.clinic">
                            </form>
                        </div>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
        <div class="row row-centered">
            <div class="col-sm-4 col-centered">
                <div class="alert alert-danger" role="alert" ng-show="ctrl.noResults">No Patients Found. Please Try Again.</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-centered">
            <table datatable="" dt-options="ctrl.dtOptions" dt-columns="ctrl.dtColumns" dt-instance="ctrl.dtInstance" class="row-border hover"></table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-centered">
            <hr>
            <button class="btn btn-primary" ng-click="ctrl.display()">Display</button>
            <button class="btn btn-primary" ng-click="ctrl.genPDF()">PDF</button>
        </div>
    </div>
    <div class="row row-centered">
        <div class="col-sm-4 col-centered pull-left">
            <div class="alert alert-danger" role="alert" ng-show="ctrl.displayErr.flag">{{ctrl.displayErr.msg}}</div>
        </div>
    </div>
